<nav class="w-full flex flex-col md:flex-row justify-between bg-secondary text-red-500 font-bold text-xl p-4 md:h-24">
    <div class="flex justify-center md:justify-start items-center w-full md:w-1/4 sm:h-full h-16">
        <a href="/" class="w-auto h-full"><img src="LogoNoBg.png" alt="CineKlik" class="h-full object-contain"/></a>
    </div>
    <ul class="flex flex-col md:flex-row gap-4 items-center justify-center md:justify-end w-full md:w-3/4 py-4 md:py-0 md:pr-8 lg:pr-40">
        <li class="py-2 md:py-0"><a href="/">Home</a></li>
        <li class="py-2 md:py-0"><a href="/about">About</a></li>
        <li class="py-2 md:py-0" *ngIf="!activeUser?.active"><a href="/login">Login</a></li>
        <li class="py-2 md:py-0 cursor-pointer" *ngIf="activeUser?.active" (click)="logout()">Logout</li>
        <li class="py-2 md:py-0" *ngIf="activeUser?.active"><a href="/profile">Profile</a></li>
    </ul>
</nav>
<router-outlet />
<div class="flex justify-center items-center">
    <div class="w-1/2 h-1/2 bg-red-500"></div>
</div>

<button 
    (click)="scrollToTop()" 
    class="fixed bottom-6 right-6 bg-red-600 hover:bg-secondary text-secondary hover:text-red-600 rounded-full p-3 shadow-lg transition-all duration-300 transform hover:scale-110 focus:outline-none z-50"
    [ngClass]="{'opacity-0 pointer-events-none': !showBackToTop, 'opacity-100': showBackToTop}"
>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
    </svg>
</button>

<footer class="bg-secondary text-red-500 font-bold text-xl p-4 md:h-24 w-full text-center flex items-center justify-center">
    <p>Copyright © 2025 CineKlik. All rights reserved.</p>
</footer>
