<nav class="w-full flex justify-between h-24 bg-secondary text-red-500 font-bold text-xl">
    <div class="flex justify-center items-center w-1/4 h-full">
        <a href="/" class="w-1/2 h-full"><img src="LogoNoBg.png" alt="CineKlik" class="w-full h-full"/></a>
    </div>
    <ul class="flex gap-4 justify-end pr-40 items-center h-full w-3/4">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</nav>
<router-outlet />
